header, footer, nav, .content-box {
    border: 1px solid steelblue;
    box-sizing: border-box;
    font-size: 1.4em;
}
header, nav, #content > .content-box, footer {
    text-align: center;
}